# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
debug.log

# System operacyjny
.DS_Store
Thumbs.db

# Build foldery
dist/
build/
.cache/

# Konfiguracje IDE i edytorów
.vscode/
.idea/
*.swp

# Binaries
*.exe
*.out

# Specyficzne dla systemu pliki
.env
